body {
    overflow: hidden;
}
.container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.container > nav > input,
.container > nav > a {
    position: fixed;
    bottom: 0px;
    width: 25%;
    cursor: pointer;
    height: 34px;
    line-height: 34px;
}
/* Adjust the input and a to fit with needed image */
.container > nav > input {
    opacity: 0;
    z-index: 1000;
}
.container > nav > a {
    z-index: 10;
    font-weight: 700;
    background: #e23a6e;
    color: #ffffff;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
}
/* Adjust the above parameters as needed as well */
.container:before {
	content: '';
	position: fixed;
	width: 100%;
	height: 34px;
	background: #e23a6e;
	z-index: 9;
	bottom: 0;
}
/* The above artibute creates a bar under the navigation bar to cover any gaps that might come from having odd screen sizes */
#selector-1, #selector-1 + a {
    left: 0;
}
#selector-2, #selector-2 + a {
    left: 25%;
}
#selector-3, #selector-3 + a {
    left: 50%;
}
#selector-4, #selector-4 + a {
    left: 75%;
}
.container > nav > input:checked + a,
.container > nav > input:checked:hover + a {
    background: #821134;
}
.container > nav > input:checked + a:after,
.container > nav > input:checked:hover + a:after {
    bottom: 100%;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #821134;
    border-width: 20px;
    left: 50%;
    margin-left: -20px;
}
/* The above adds a little triangle to mark the link you are at. */
.container > nav > input:hover + a {
    background: #AD244F;
}
.container > nav > input:hover + a:after {
    border-bottom: #AD244F;
}
.content-scroll,
.panel {
    position: relative;
    width: 100%;
    height: 100%;
}
.content-scroll {
    top: 0;
    left: 0;
    transition: all 0.6s ease-in-out;

    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}
.panel {
    background: #ffffff;
    overflow: hidden;
}
#selector-1:checked ~ .content-scroll {
    transform: translateY(0%);
}
#selector-2:checked ~ .content-scroll {
    transform: translateY(-100%);
}
#selector-3:checked ~ .content-scroll {
    transform: translateY(-200%);
}
#selector-4:checked ~ .content-scroll {
    transform: translateY(-300%);
}
.panel h2 + h3 {
    color: #e23a6e;
	text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
	position: absolute;
	font-size: 54px;
	font-weight: 900;
	width: 80%;
	left: 10%;
	text-align: center;
	line-height: 50px;
	margin: -70px 0 0 0;
	padding: 0;
	top: 50%;
	-webkit-backface-visibility: hidden;
}
/* All of the above will have to be adjusted to taste! */
#selector-1:checked ~ .content-scroll #tab-1 h2 + h3,
#selector-2:checked ~ .content-scroll #tab-2 h2 + h3,
#selector-3:checked ~ .content-scroll #tab-3 h2 + h3,
#selector-4:checked ~ .content-scroll #tab-4 h2 + h3 {
    animation: moveDown 0.6s ease-in-out 0.2s backwards;
}
@keyframes moveDown {
    0% {
        transform: translateY(-40px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
.panel p {
    position: absolute;
	text-align: center;
	font-size: 16px;
	line-height: 22px;
	color: #8b8b8b;
	z-index: 2;
	padding: 0;
	width: 50%;
	left: 25%;
	top: 50%;
	margin: 10px 0 0 0;
	-webkit-backface-visibility: hidden;
}
#selector-1:checked ~ .content-scroll #tab-1 p,
#selector-2:checked ~ .content-scroll #tab-2 p,
#selector-3:checked ~ .content-scroll #tab-3 p,
#selector-4:checked ~ .content-scroll #tab-4 p {
    animation: moveUp 0.6s ease-in-out 0.2s backwards;
}
@keyframes moveUp {
    0% {
        transform: translateY(40px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
.alt-color {
    background: #fa96b5;
}
.alt-color h2 {
    color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
.alt-color p {
    color: rgba(255,255,255,0.8);
}
/* AFTER EVERYTHING WORKS, ADD QUERIES FOR SMALLER SCREENS!!! */