body {
    overflow: hidden;
}
.container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.container > input,
.container > a {
    position: fixed;
    bottom: 0px;
    width: 25%;
    cursor: pointer;
    height: 34px;
    line-height: 34px;
}
/* Adjust the input and a to fit with needed image */
.container > input {
    opacity: 0;
    z-index: 1000;
}
.container > a {
    z-index: 10;
    font-weight: 700;
    background: #A2A2A2;
    color: #222222;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
}
/* Adjust the above parameters as needed as well */
.container:before {
	content: '';
	position: fixed;
	width: 100%;
	height: 34px;
	background: #5F5F5F;
	z-index: 9;
	bottom: 0;
}
/* The above artibute creates a bar under the navigation bar to cover any gaps that might come from having odd screen sizes */
section {
    display: grid;
    grid-template-rows: 1fr 4fr 50px;
    grid-template-columns: 2fr 6fr;
    grid-gap: 15px;
    grid-template-areas: 
        "h2 h3"
        "h2 p"
        ". .";
    justify-content: center;
    align-content: center;
}
section h2 img {
    height: auto;
    width: auto;
}
#selector-1, #selector-1 + a {
    left: 0;
}
#selector-2, #selector-2 + a {
    left: 25%;
}
#selector-3, #selector-3 + a {
    left: 50%;
}
#selector-4, #selector-4 + a {
    left: 75%;
}
.container > input:checked + a,
.container > input:checked:hover + a {
    background: #6b6b6b;
}
.container > input:checked + a:after,
.container > input:checked:hover + a:after {
    bottom: 100%;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #8b8b8b;
    border-width: 20px;
    left: 50%;
    margin-left: -20px;
}
/* The above adds a little triangle to mark the link you are at. */
.container > input:hover + a {
    background: #8b8b8b;
}
.container > input:hover + a:after {
    border-bottom: #8b8b8b;
}
.content-scroll,
.panel {
    position: relative;
    width: 100%;
}
.content-scroll {
    top: 0;
    left: 0;
    height: 100%;
    transition: all 0.4s ease-in-out;

    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}
.panel {
    background: #b8b8b8;
    overflow: hidden;
    height: 100%;
}
#selector-1:checked ~ .content-scroll {
    transform: translateY(0%);
}
#selector-2:checked ~ .content-scroll {
    transform: translateY(-100%);
}
#selector-3:checked ~ .content-scroll {
    transform: translateY(-200%);
}
#selector-4:checked ~ .content-scroll {
    transform: translateY(-300%);
}
.panel h2,
.panel h3,
.panel p {
    border: 3px solid;
    height: 100%;
    width: 100%;
    margin: 0;
	-webkit-backface-visibility: hidden;
    padding-left: 4px;
    padding-right: 4px;
}
.panel h2 {
    color: #222222;
/* 	text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
 */	font-size: 40pt;
	font-weight: 900;
    grid-area: h2;
    font-family: 'Didact Gothic', sans-serif;
    line-height: 100%;
}
.panel h3 {
    color: #222222;
	font-size: 25pt;
	font-weight: 900;
	text-align: center;
	line-height: 50px;
	padding: 0;
    grid-area: h3;
    border: 3px solid;
    font-family: 'Mulish', sans-serif;
}
.panel p {
	text-align: center;
	font-size: 16px;
	line-height: 22px;
	color: #1b1b1b;
	z-index: 2;
	padding: 0;
    grid-area: p;
    border: 3px solid;
    font-family: 'Overpass', sans-serif;
}
/* All of the above will have to be adjusted to taste! */
#selector-1:checked ~ .content-scroll #tab-1 h2 + h3,
#selector-2:checked ~ .content-scroll #tab-2 h2 + h3,
#selector-3:checked ~ .content-scroll #tab-3 h2 + h3,
#selector-4:checked ~ .content-scroll #tab-4 h2 + h3 {
    animation: moveDown 0.4s ease-in-out 0.2s backwards;
}
@keyframes moveDown {
    0% {
        transform: translateY(-900px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
#selector-1:checked ~ .content-scroll #tab-1 p,
#selector-2:checked ~ .content-scroll #tab-2 p,
#selector-3:checked ~ .content-scroll #tab-3 p,
#selector-4:checked ~ .content-scroll #tab-4 p {
    animation: moveUp 0.6s ease-in-out 0.2s backwards;
}
@keyframes moveUp {
    0% {
        transform: translateY(900px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
.alt-color {
    background: #5f5f5f;
}
.alt-color h2 {
    color: #efefef;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
.alt-color h3 {
    color: #efefef;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.alt-color p {
    color: #efefef;
}
/* AFTER EVERYTHING WORKS, ADD QUERIES FOR SMALLER SCREENS!!! */